{{ $default := "-- Not available" }}
{{ if (.Get "default") }}
{{ $default = (.Get "default") }}
{{ end -}}

<div class="code-selector">
  <p class="filename text-muted">{{ .Get "name" }}</p>
  <button class="code-select postgres">postgres</button>
  <button class="code-select mysql">mysql</button>
  <button class="code-select sqlserver">sqlserver</button>
  <button class="code-select sqlite">sqlite</button>
  <button class="code-select oracle">oracle</button>
</div>
<pre class="code-toggle postgres"><code class="language-sql">
{{- if (.Get "postgres") }}{{ .Get "postgres" }}{{else}}{{ $default }}{{end}}
</code></pre>
<pre class="code-toggle mysql"><code class="language-sql">
{{- if (.Get "mysql") }}{{ .Get "mysql" }}{{else}}{{ $default }}{{end}}
</code></pre>
<pre class="code-toggle sqlite"><code class="language-sql">
{{- if (.Get "sqlite") }}{{ .Get "sqlite" }}{{else}}{{ $default }}{{end}}
</code></pre>
<pre class="code-toggle sqlserver"><code class="language-sql">
{{- if (.Get "sqlserver") }}{{ .Get "sqlserver" }}{{else}}{{ $default }}{{end}}
</code></pre>
<pre class="code-toggle oracle"><code class="language-sql">
{{- if (.Get "oracle") }}{{ .Get "oracle" }}{{else}}{{ $default }}{{end}}
</code></pre>
